/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}
h2 {
  font-size: 18px;
  font-weight: 700;
}
h3 {
  font-size: 17px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 400;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
  width: 100vw;
  overflow-x: hidden;
}

header {
  height: 79px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-booki {
  width: 61px;
  height: fit-content;
  padding: 30px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
  margin: 0px 10px;
}
.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 68px;
}
.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-top: solid transparent;
}
.menu li:hover {
  display: inherit;
  border-top: solid #0065fc;
}
.menu li:hover a {
  color: #0065fc;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  margin: auto;
  margin-top: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
.main {
  width: inherit !important;
}
.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card:hover {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5) !important;
}
.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
a {
  text-decoration: none;
  color: black;
  display: contents;
}

/**** Info-group ****/
.info-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35px;
  margin-bottom: 30px;
}
.headline {
  display: flex;
  height: 55px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 8px;
}
.headline h1,
p {
  margin: 0%;
  gap: 8px;
}
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 377px;
  height: 49px;
}
.search-bar #location-dot {
  width: 50px;
  height: inherit;
  border-radius: 15px 0px 0px 15px;
  background-color: #d9d9d9;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: row;
}
#loupe-icone {
  display: none;
  width: 50px;
  height: 49px;
  border: 1px solid #0065fc;
  border-radius: 15px 16px;
  background-color: #0065fc;
  margin-left: -15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loupe-icone i {
  background-color: #0065fc;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt-search-bar {
  width: fit-content;
  height: 49px;
  border-left: none;
  border-right: none;
  border: 1px solid #d9d9d9;
  font-size: 18px;
  font-weight: 700;
  color: var(--black, #000);
}
.search-bar button {
  width: 132px;
  height: 49px;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
  font-size: 18px;
  font-weight: 700;

  margin-left: -6px;
}
.filter-bar {
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}
.filters {
  display: flex;
  gap: 20px;
}

.btn-filter {
  height: 50px;
  width: 173px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  padding: 4px 19px;
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;

  font-size: 17px;
  font-weight: 700;
}
.btn-filter:hover {
  background-color: #deebff;
}
.btn-filter i {
  font-size: 20px;
  padding-right: 10px;
}
.info-bar {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}
.info-bar i {
  height: 24px;
  width: 24px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  border: 1px solid var(--grey-tint-2, #d9d9d9);
  color: #0065fc;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
  align-self: stretch;
  box-sizing: border-box;
}
.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hebergements-cards .cards-1-2-3 {
  width: 100%;
  display: flex;
  flex-flow: row;
  gap: 30px;
}
.hebergements-cards .cards-4-5-6 {
  width: 100%;
  display: flex;
  flex-flow: row;
  gap: 30px;
}

.hebergements-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-self: center;
  gap: 30px;
  box-sizing: border-box;
}

.hebergements-cards .card {
  width: 33%;
  height: auto;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  border-radius: 20px;
  background: #fff;

  /* Shadow/Card */
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.hebergements-cards img {
  height: 124px;
  width: 100%;
  object-position: center;
  border-radius: 20px 20px 0px 0px;
}
.hebergements-cards .card-content {
  padding: 0px 15px;
  margin: 0%;
  margin-top: -10px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
}
.hebergements-cards .card-txt {
  margin: 0%;
  gap: 8px;
}
.hebergements-cards .card-title {
  margin-bottom: 8px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activites ********/
.activites {
  display: flex;
  padding: 30px;
  gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.section-title-activites{
    font-size: 22px;
    font-weight: 700;
}
.activites-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.activites-cards .card {
  display: flex;
  flex-direction: column;
  height: 439px;
  width: 100%;
  padding: 0%;
  box-sizing: border-box;
}
.activites-cards .card img {
  height: 85%;
  width: 100%;
  object-position: center;

  box-sizing: border-box;
  border-radius: 20px 20px 0px 0px;
  padding: 0%;
  margin: 0%;
}
.activites-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/********** Footer *********/
footer {
  height: 100%;
  max-height: 183px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.footer-section {
  display: flex;
  height: 100%;
  width: auto;
  margin: 0%;
  padding: 20px;
  flex-direction: column !important;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;

  flex-wrap: wrap;
  align-self: stretch;
  box-sizing: border-box;
}
.footer-section a,
h2 {
  display: inherit;
  gap: 0px;
  margin: 0%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .info-group {
    gap: 35px;
  }
  .filter-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .btn-filter {
    width: 160px;
    padding: 4px 10px;
  }
  .info-bar {
    margin-top: 35px;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
    order: 1;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
    order: 2;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activites-cards .card {
    height: 270px;
    width: 100%;
  }
  .activites-cards .card img {
    height: 70%;
    min-height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .activites-cards .card-content {
    padding: 5%;
    justify-content: center;
    align-items: center;
  }
  .activites-cards .card-content .card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.99px) {
  body {
    width: 100vw;
    overflow-x: hidden;
    min-width: 320px;
    display: flex;
    align-items: center;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
  }
  header {
    height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-items: stretch;
    align-items: center;
  }
  .logo-booki {
    margin: auto;
  }
  .menu {
    width: 100%;
    margin: 0px;
    margin-top: -40px;
    padding: 0px;
  }
  .menu ul {
    width: 100%;
    padding: 0%;
    gap: 0%;
    justify-content: space-evenly;
  }
  .menu li {
    width: 50%;
    text-align: center;
    border-top: none;
    border-bottom: solid transparent;
  }

  .menu li:hover {
    border-top: none;
    border-bottom: solid #0065fc;
  }
  .menu li:hover a {
    color: #0065fc;
  }
  .main-container {
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding: 0px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    align-self: stretch;
    box-sizing: border-box;
    margin-top: 0%;
  }
  .main {
    width: inherit !important;
    display: flex;
  }

  .info-group {
    align-items: center;
    gap: 35px;
    padding: 0px 20px;
  }
  .headline {
    height: auto;
    width: 100%;
  }
  .search-bar {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 0px;
  }
  form {
    width: 100%;
    justify-content: space-between;
  }
  form .txt-search-bar {
    width: 100%;
  }
  .search-bar #btn-rechercher {
    display: none;
  }
  .search-bar #loupe-icone {
    display: flex;
  }
  .filter-bar {
    height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 15px;
  }
  .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0%;
    margin: 0%;
  }
  .btn-filter {
    height: 50px;
    width: 45%;
    padding: 4px 8px;
    align-items: center;
    font-size: 12px;
    gap: 7px;
  }
  .btn-filter i {
    width: 22px;
    height: 22px;
  }
  .info-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    width: 100%;
  }
  .info-bar span {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    word-wrap: break-word;
  }
  .hebergements-and-populaires {
    width: 100%;
  }
  .populaires {
    margin-top: 0%;
    padding: 0%;
    width: 100%;
    order: 1;
    border-radius: 0% !important ;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0px;
  }
  .populaires-cards .card {
    width: 100%;
  }
  .hebergements {
    background-color: white !important;
    order: 2;
  }
  .hebergements .section-title {
    width: max-content;
  }
  .hebergements-cards .cards-1-2-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hebergements-cards .cards-4-5-6 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hebergements-cards .card {
    width: 100%;
  }
  .hebergements-cards .card-content {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hebergements-cards .card img {
    object-position: center;
  }
  .activites {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    width: 100%;
    max-width: 583px;
  }

  .activites-cards {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .activites-cards .card {

    height: auto;
    width: 100%;
    border-radius: 20px;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .activites-cards .card-content {
    align-items: flex-start;
  }
  .activites-cards .card img {
    height: 124px;
    min-height: min-content !important;
  }
  footer {
    max-height: fit-content;
    max-width: 100%;
    flex-direction: column;
  }
  .footer-section {
    justify-content: center;
  }
  .footer-section h2 {
    margin: 0%;
  }
}
